@model List<solo_Matches>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/admin.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.8/vue.min.js'></script>
</head>

<body>
    @Html.Partial("/Views/shared/admin_nav.cshtml")
    <div class="container">
        <div class="updates">
            <h1>Latest Valorant News</h1>
            <div class="news-items">
                <div class="item">
                    <a href="https://valorantesports.com/news/masters-shanghai-venue-and-ticket-announcement/" target="_blank">
                        <img id="item-img" src="/Images/news-item1-image.jpg" alt="News1 Image">
                    </a>

                    <div class="item-text">
                        <p>08/04/2024</p>
                        <p>Master Shengai Venue and Ticket Announcement</p>
                        <p>The second master will take place May 23- June 9</p>
                        <a href="https://valorantesports.com/news/masters-shanghai-venue-and-ticket-announcement/" target="_blank">See article</a>
                    </div>

                </div>
                <div class="item">
                    <a href="https://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-8-05/" target="_blank">
                        <img id="item-img" src="/Images/news-item2-image.jpg" alt="News2 Image">
                    </a>
                    <div class="item-text">
                        <p>05/04/2024</p>
                        <p>Valorant Patch notes 8.05</p>
                        <p>Clove arrives! Few gameplay changes</p>
                        <a href="https://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-8-05/" target="_blank">See article</a>
                    </div>
                </div>
                <div class="item">
                    <a href="https://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-8-04/" target="_blank">
                        <img id="item-img" src="/Images/news-item3-image.jpg" alt="News2 Image">
                    </a>
                    <div class="item-text">
                        <p>05/03/2024</p>
                        <p>Valorant Patch notes 8.04</p>
                        <p>Updates for the upcoming premier. Some bug fixes</p>
                        <a href="https://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-8-04/" target="_blank">See article</a>
                    </div>
                </div>
                <div class="item">
                    <a href="https://valorantesports.com/news/everything-you-need-to-know-masters-madrid/" target="_blank">
                        <img id="item-img" src="/Images/news-item4-image.jpg" alt="News2 Image">
                    </a>
                    <div class="item-text">
                        <p>01/03/2024</p>
                        <p>Everything you need to know: Masters-Madrid</p>
                        <p>Tournament matchups, format schedule and more!</p>
                        <a href="https://valorantesports.com/news/everything-you-need-to-know-masters-madrid/" target="_blank">See article</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="insights">
            <h1>Insights</h1>
            <div id="app">
                <progress-ring :radius="100" :progress="progress" :stroke="5"></progress-ring>
                <h3>Registered users</h3>
            </div>

            <template id="progress-ring-template">
                <svg :height="radius * 2" :width="radius * 2">
                    <circle stroke="red"
                            fill="transparent"
                            :stroke-dasharray="circumference + ' ' + circumference"
                            :style="{ strokeDashoffset, transition: 'stroke-dashoffset 1s ease-in-out' }"
                            :stroke-width="stroke"
                            :r="normalizedRadius"
                            :cx="radius"
                            :cy="radius" />
                    <text x="100" y="110" text-anchor="middle"
                          font-size="50" fill="red">{{i}}</text>
                </svg>
            </template>
            <canvas id="barChart" width="500" height="500"></canvas>
        </div>
    </div>
    <script>
        Vue.component('progress-ring', {
            props: ['radius', 'progress', 'stroke'],
            template: '#progress-ring-template',
            data() {
                const normalizedRadius = this.radius - this.stroke * 2;
                const circumference = normalizedRadius * 2 * Math.PI;

                return {
                    normalizedRadius,
                    circumference
                };
            },
            computed: {
                i: function () {
                    let result = 31 * (this.progress / 100);
                    result = Math.round(result);
                    return result;
                },
                strokeDashoffset() {
                    return (1 - this.progress / 100) * this.circumference;
                }
            }
        });
        new Vue({
            el: '#app',
            data: {
                progress: 0
            },
            mounted() {
                // Simulate loading progress
                setInterval(() => {
                    if (this.progress < 100) {
                        this.progress += 1;
                    }
                }, 15);
            }
        });
        function Logout() {
            var dropdown = document.getElementById("mydropdown");
            var selectedValue = dropdown.value;
            if (selectedValue === "Logout") {
                window.location.href = "homepage.html";
            }
        }
        function OpenAgents(){
            window.location.href = "/AdminData/Index?option=agents";
        }
        function OpenSoloMatches(){
            window.location.href = "/AdminData/Index?option=soloMatches";
        }
        console.log(Chart);
        

        fetch('/BarGraphData/GetBarGraphData')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const sortedData = data.sort((a, b) => b.frequency - a.frequency);
                const agentNames = sortedData.map(item => item.agent_name);
                const matches = sortedData.map(item => item.frequency);
                const ctx = document.getElementById('barChart').getContext('2d');
                const barChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: agentNames,
                        datasets: [{
                            label: 'Matches Played by Agent',
                            data: matches,
                            backgroundColor: '#e58bcd'
                        }]
                    },
                    options: {
                        indexAxis: 'y'
                    }
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
                // Handle error appropriately, e.g., display an error message to the user
            });
        Chart.defaults.font.size = 16;
        Chart.defaults.color = '#999';

    </script>
</body>

</html>