<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .navbar {
            background-color: #990000;
            display: flex;
            justify-content: space-between;
            border-radius: 8px;
            color: white;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

            .navbar p {
                margin: 15px 20px;
            }

        .items {
            background-color: #990000;
            width: 500px;
            border-radius: 5px;
            margin-right: 20px;
        }

            .items ul {
                display: flex;
                justify-content: space-between;
            }

            .items li, .items li a {
                list-style: none;
                text-decoration: none;
                color: white;
            }
    </style>

</head>
<body>
    <header>
        <nav class="navbar">
            <p>Valorant Datahub</p>
            <div class="items">
                <ul>
                    <li><a href="/Homepage/Index">Home</a></li>
                    <li>Guest Mode</li>
                </ul>
            </div>
        </nav>
    </header>
    <script>
    </script>
</body>
