@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styling.css" />
    <title>Home Page</title>
    
</head>

<body>
    <header>
        <nav class="navbar">
            <p>Valorant Datahub</p>
            <div class="items">
                <ul>
                    <li><a href="homepage.html">Home</a></li>
                    <li>Guest Mode</li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="image_and_login">
        <h1 style="margin-top: 20px; padding: 20px;color: white;">Welcome to Valorant Datahub<br>Track your in-game stats today</h1>
            
        <div class="buttons">
            <button class="login_button">Login</button>
            <button class="register_button" onclick="OpenRegister()">Sign up</button>
        </div>
        <div class="imgcontainer">
            <img src="~/Images/hehe.jpg" alt="Couldn't load image">
        </div>
        
    </div>
    
    <div class="options_boxes">
        <button class="agents" onclick="OpenAgents()">View Agents</button>
        <button class="maps">View Maps</button>
        <button class="weapons">View Weapons</button>
        <button class="leaderboards" onclick="OpenLeaderboards()">View Leaderboards</button>
        <button class="stats">View Stats</button>
    </div>
</body>
<script>
    function OpenAgents(){
        window.location.href= "agents.html";
    }
    function OpenLeaderboards(){
        window.location.href = "/Leaderboard/Index"
    }
    function OpenRegister(){
        window.location.href = "signup.html";
    }
</script>
</html>