@{
    Layout = null;
}
@model User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
    <style>
        html {
            background-color: black;
        }

        .maps-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 50px;
            margin: 10px auto;
        }

        .button {
            text-align: center;
            height: 300px;
            width: 600px;
            padding: 0px 20px;
            margin-top: 100px;
        }

            .button img {
                width: 100%;
                height: auto;
                display: block;
                border: 1px solid #7f38c9;
                border-radius: 5px;
                box-shadow: 5px 0 5px rgba(0, 0, 0.3, 0.3);
                padding: 20px;
                position: relative;
            }

            .button:hover {
                transform: scale(1.05);
                /* Increase image size by 20% on hover */
                transition: transform 0.3s ease-in-out;
                /* Smooth transition effect */
            }

            .button p {
                float: left;
                position: absolute;
                margin-left: 23px;
                margin-top: -55px;
                color: white;
                font-size: 30px;
            }
    </style>
</head>

<body>
    @Html.Partial("/Views/Homepage_Nav/Index.cshtml")
    <div class="maps-container">
        <div class="button">
            <a href="/MapDisplay/Index?option=ascent&Username=@Model.Username">
            <img src="~/Images/ascent-background.jpg" alt="Image 1"></a>
            <p>Ascent</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=bind&Username=@Model.Username">
            <img src="~/Images/bind-background.jpg" alt="Image 1"></a>
            <p>Bind</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=breeze&Username=@Model.Username">
            <img src="~/Images/breeze-background.jpg" alt="Image 1"></a>
            <p>Breeze</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=icebox&Username=@Model.Username">
            <img src="~/Images/icebox-background.jpg" alt="Image 1"></a>
            <p>Icebox</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=lotus&Username=@Model.Username">
            <img src="~/Images/lotus-background.jpg" alt="Image 1"></a>
            <p>Lotus</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=split&Username=@Model.Username">
            <img src="~/Images/split-background.jpg" alt="Image 1"></a>
            <p>Split</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=sunset&Username=@Model.Username">
            <img src="~/Images/sunset-background.jpg" alt="Image 1"></a>
            <p>Sunset</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=fracture&Username=@Model.Username">
            <img src="~/Images/fracture-background.jpg" alt="Image 1"></a>
            <p>Fracture</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=pearl&Username=@Model.Username">
            <img src="~/Images/pearl-background.jpg" alt="Image 1"></a>
            <p>Pearl</p>
        </div>
        <div class="button">
            <a href="/MapDisplay/Index?option=haven&Username=@Model.Username">
            <img src="~/Images/haven-background.jpg" alt="Image 1"></a>
            <p>Haven</p>
        </div>
    </div>
</body>

</html>