@{
    Layout = null;
}
@model User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weapons</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            background-color: black;
            color: white;
            margin: 0px;
            padding: 0px;
        }

        body {
            margin: 0px;
            padding: 0px;
            background-color: black;
            color: white;
        }

        .navbar {
            background-color: #9a413a;
            display: flex;
            justify-content: space-between;
            border-radius: 35px;
            color: white;
            width: 100%;
            padding: 0px;
            z-index: 1;
        }

            .navbar p {
                margin: 25px 0px 20px 20px;
            }

            .navbar .items {
                background-color: #9a413a;
                width: 1100px;
                margin-right: 30px;
                display: inline-block;
            }

                .navbar .items ul {
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                }


                .navbar .items li a {
                    text-decoration: none;
                    color: white;
                    display: inline-block;
                    text-align: center;
                    padding: 10px 14px;
                }

                .navbar .items .dropdown-content {
                    display: none;
                    position: absolute;
                    background: rgb(58, 57, 57);
                    min-width: 110px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }

                .navbar .items li a:hover,
                .dropdown:hover,
                .dropdown-content a:hover {
                    background-color: #870505;
                }

                .navbar .items .dropdown-content a {
                    color: white;
                    padding: 12px 14px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }

                    .navbar .items .dropdown-content a:hover {
                        background: rgb(136, 20, 20);
                    }

                .navbar .items .dropdown:hover .dropdown-content {
                    display: block;
                }

                .navbar .items .dropdown {
                    display: inline-block;
                }
        .sidebar {
            display: flex;
            flex-direction: column;
        }

        .type .images {
            display: flex;
            flex-wrap: wrap;
            margin-left: 100px;
            background-color: #131723;
        }

        .type {
            display: flex;
            flex-direction: row;
            background-color: #131723;
        }

        .button {
            text-align: center;
            height: auto;
            width: 300px;
            padding: 20px;
            margin: 5px;
        }

            .button img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                border: 1px solid rgb(155, 149, 149);
                border-radius: 5px;
                box-shadow: 5px 0 5px rgba(0, 0, 0.3, 0.3);
                padding: 10px;
            }

            .button:hover {
                transform: scale(1.05);
                /* Increase image size by 20% on hover */
                transition: transform 0.3s ease-in-out;
                /* Smooth transition effect */
            }

            .button p {
                color: rgb(203, 189, 189);
                font-size: 20px;
                margin: 15px;
            }

        #automatic .images {
            margin-left: 110px;
        }

        #automatic {
            margin-top: -30px;
        }

        #pistols .images {
            margin-left: 100px;
        }

        .type .text {
            background-color: #9a413a;
            width: 170px;
        }

        #automatic .text {
            padding-top: 100px;
        }

        #pistols .text {
            padding-top: 100px;
        }

        .bruh ul {
            list-style-type: none;
            padding: 0;
            margin-top: 30px;
        }

        .text li,
        .text a {
            text-decoration: none;
            color: white;
            width: 170px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 100px;
            padding: 20px;
            transition: transform 0.5s ease-in-out;
        }

        .heading {
            display: inline-block;
            margin-left: 20px;
            padding-top: 20px;
        }

        

        .text:hover {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    <div id="partialContainer">
        <header>
            <nav class="navbar">
                <p>Valorant Datahub</p>
                <div class="items">
                    <ul>
                        <li><a href="/Homepage/Index?Username=@Model.Username">Home</a></li>
                        <li><a href="/Weapon/Index?Username=@Model.Username">Weapons</a></li>
                        <li><a href="/Leaderboard/Index?Username=@Model.Username">Leaderboards</a></li>
                        <li><a href="/Agent/Index?Username=@Model.Username">Agents</a></li>
                        <li><a href="/Map/Index?Username=@Model.Username">Maps</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropbtn">Current rotation</a>
                            <div class="dropdown-content">
                                <a href="/MapDisplay/Index?option=ascent&Username=@Model.Username">Ascent</a>
                                <a href="/MapDisplay/Index?option=bind&Username=@Model.Username">Bind</a>
                                <a href="/MapDisplay/Index?option=Breeze&Username=@Model.Username">Breeze</a>
                                <a href="/MapDisplay/Index?option=Icebox&Username=@Model.Username">Icebox</a>
                                <a href="/MapDisplay/Index?option=Lotus&Username=@Model.Username">Lotus</a>
                                <a href="/MapDisplay/Index?option=Split&Username=@Model.Username">Split</a>
                                <a href="/MapDisplay/Index?option=Sunset&Username=@Model.Username">Sunset</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropbtn" id="dropbtn" style="padding-right: 4	0px;">Guest Mode</a>
                            <div class="dropdown-content">
                                <a href="/Homepage/Index">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div class="bruh">
    <ul>
        <hr>
        <div class="type" id="automatic">
            <div class="text">
            <li><a href="#">Rifles</a></li>
            </div>
            <div class="images">
                <div class="button">
                    <a href ="/WeaponDisplay/Index?option=vandal&Username=@Model.Username">
                    <img src="~/Images/vandal.jpg" alt="Image 1">
                    </a>
                    <p>Vandal</p>
                </div>
                <div class="button">
            <a href="/WeaponDisplay/Index?option=phantom&Username=@Model.Username">
                    <img src="~/Images/phantom.jpg" alt="Image 1">
            </a>
                    <p>Phantom</p>
                </div>
                <div class="button">
            <a href="/WeaponDisplay/Index?option=bulldog&Username=@Model.Username">
                    <img src="~/Images/bulldog.jpg" alt="Image 1">

            </a>
                    <p>Bulldog</p>
                </div>
                <div class="button">
            <a href="/WeaponDisplay/Index?option=guardian&Username=@Model.Username">
                    <img src="~/Images/guardian.jpg" alt="Image 1">
            </a>
                    <p>Guardian</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="type" id="smgs">
            <div class="text">
                <li><a href="#">SMGs</a></li>
            </div>
        <div class="images">
            <div class="button">
                <img src="~/Images/spectre.jpg" alt="Image 1">
                <p>Spectre</p>
            </div>
            <div class="button">
                <img src="~/Images/stinger.jpg" alt="Image 1">
                <p>Stinger</p>
            </div>
        </div>
        </div>
        <hr>
        <div class="type" id="pistols">
            <div class="text">
        <li><a href="#">Pistols</a></li>
        </div>
        <div class="images">
            <div class="button">
                <img src="~/Images/frenzy.jpg" alt="Image 1">
                <p>Frenzy</p>
            </div>
            <div class="button">
                <img src="~/Images/classic.jpg" alt="Image 1">
                <p>Classic</p>
            </div>
            <div class="button">
                <img src="~/Images/shorty.jpg" alt="Image 1">
                <p>Shorty</p>
            </div>
            <div class="button">
                <img src="~/Images/ghost.jpg" alt="Image 1">
                <p>Ghost</p>
            </div>
            <div class="button">
                <img src="~/Images/sheriff.jpg" alt="Image 1">
                <p>Sheriff</p>
            </div>
        </div>
        </div>
        <hr>
        <div class="type" id="shotguns">
            <div class="text">
        <li><a href="#">Shotguns</a></li>
        </div>
        <div class="images">

            <div class="button">
                <img src="~/Images/judge.jpg" alt="Image 1">
                <p>Judge</p>
            </div>
            <div class="button">
                <img src="~/Images/bucky.jpg" alt="Image 1">
                <p>Bucky</p>
            </div>
        </div>
        </div>
        <hr>

        <div class="type" id="snipers">
            <div class="text">
        <li><a href="#">Snipers</a></li>
        </div>
        <div class="images">
            <div class="button">
                <img src="~/Images/marshal.jpg" alt="Image 1">
                <p>Marshall</p>
            </div>
            <div class="button">
                <img src="~/Images/operator.jpg" alt="Image 1">
                <p>Operator</p>
            </div>
        </div>
        </div>
        <hr>
        <div class="type" id="machineguns">
            <div class="text">
        <li><a href="#">Machine Guns</a></li>
        </div>
        <div class="images">
            <div class="button">
                <img src="~/Images/odin.jpg" alt="Image 1">
                <p>Odin</p>
            </div>
            <div class="button">
                <img src="~/Images/ares.jpg" alt="Image 1">
                <p>Ares</p>
            </div>
        </div>
        </div>
        <hr>
    </ul>
    </div>
    <script>
        const div1 = document.querySelector('.text');
        const div2 = document.querySelector('.images');

        $(document).ready(function () {

            var username = '@Model.Username';
            console.log(username);
            var dropbtnElement = $('#dropbtn');
            dropbtnElement.text(username);

        });
    </script>
</body>

</html>