
body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5em;
    height: auto;
    width: 1400px;
    margin: 100px 0px 30px 30px;
    border: 3px solid #7f38c9;
    /* Solid purple border with a medium thickness */
    border-radius: 13px;
    /* Rounded corners for a softer look */
    padding: 15px;
    /* Add some space between the border and the content */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow effect */
}

.updates {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 700px;
}


.news-items {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

    .news-items a {
        text-decoration: none;
        color: white;
    }

        .news-items a:hover {
            color: #8b888b;
            text-decoration: underline;
        }

    .news-items #item-img {
        max-width: 400px;
        /* Ensure image does not exceed container width */
        max-height: 100%;
        /* Ensure image does not exceed container height */
        display: block;
        /* Make sure the image is displayed as a block element */
        margin: auto;
        margin-left: 0
    }

.item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: rgb(38, 57, 77) 10px 10px 10px 10px;
    transition: transform 0.5s ease-in-out;
}

.item2 {
    display: flex;
    justify-content: space-between;
}

.item-text {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
}
.insights #barChart {
    background-color: black;
    color: white;
    border: 2px solid purple; /* Replace with your desired purple shade */
    box-shadow: 5px 5px 5px 5px rgba(204, 153, 255, 0.3);
}
.insights {
    background-color: black;
    color: white;
    margin-right: 10px;
    width: 100%;
}
.item:hover {
    transform: scale(1.05);
}
