body {
    background-color: black;
}

.containers {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-top: 50px;
}

.container1 {
    background-color: green;
    width: 400px;
    height: 700px;
    margin-left: 30px;
}

.container1 img {
    margin: 30px;
    width: 100%;
    height: auto;
    background-color: white;
}

.container2 {
    background-color: blue;
    width: 400px;
    height: auto;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.container2 .abilityQ,
.abilityE,
.abilityC,
.abilityX {
    margin: 5px;
    background-color: green;
    display: flex;
    
}
.ability_img {
    background-color: red;
    padding: 5px;
    margin-left: 20px;
}
.ability_text_first_row p{
    margin-left: 5px;
}
.ability_text {
    display: flex;
    flex-direction: column;
}
.ability_text_first_row{
    display: flex;
    flex-direction: row;
}
.container3 {
    background-color: yellow;
    width: 400px;
    height: 700px;
    margin-left: 30px;
}
.stats{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}
.stat1,.stat2,.stat3,.stat4,.stat5,.stat6{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}