.navbar{
    background-color: #990000;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.navbar p{
    margin: 15px 20px;
}
.items{
    background-color: #990000;
    width: 500px;
    border-radius: 5px;
    margin-right: 20px;
}
.items ul{
    display: flex;
    justify-content: space-between;
}
.items li, .items li a{
    list-style: none;
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
}
.buttons {
    margin-top: 320px;
    margin-left: -370px;
}

.buttons .register_button {
    margin-left: 30px;
}

.login_button, .register_button {
    margin-top: -12px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #990000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.login_button:hover, .register_button:hover, .options_boxes button:hover  {
    background-color: #FF6666;
}
.options_boxes{
    margin-left: 80px;
    margin-top: 80px;
}
.options_boxes button{
    width: 250px;
    height: 150px;
    margin: 10px;
    font-size: 18px;
    background-color: #990000;
    color: white;
    border-radius: 15px;
}
.image_and_login{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.imgcontainer{
    width: 800px;
    height: 480px;
    margin-left: 350px;
    margin-top: 50px;

}
.buttons{
    margin-bottom: 130px;
}
.image_and_login img{
    max-width: 100%; /* Ensure image does not exceed container width */
    max-height: 100%; /* Ensure image does not exceed container height */
    display: block; /* Make sure the image is displayed as a block element */
    margin: auto;
}